//Custom Variables
$primary: #c29938;

//import the functions and vatualble
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
  "cuscolor1": #439a97,
  "cuscolor1darker": #1f5756,
  "cuscolor2": #62b6b7,
  "cuscolor3": #97dece,
  "cuscolor4": #cbedd5,
  "cuscolordelete": #b91c1c,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
